/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #d0d2d4;}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.mat-mdc-fab.mat-accent:hover {
    background-color: #ffffff;
    color: #32333b;
    justify-content: start;
    border: solid 1px #d0d2d4;
    border-radius: 11px;
    height: 40px;
}

.mat-mdc-fab.mat-accent {
    background-color: #f5f7f9;
    color: #32333b;
    justify-content: start;
    border: none;
    border-radius: 5px;
    height: 33px;
    box-shadow: none;
}



